@model LabTask1.Models.Student

@{
    ViewBag.Title = "CreateS";
}
<h3>Add Student</h3>
<form action="/Student/CreateS" method="post">
    <input type="text" name="Name" class="form-control" placeholder="Name" />
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    <input type="date" name="Dob" class="form-control" placeholder="Dob" />
    @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
    <input type="text" name="Credit" class="form-control" placeholder="Credit" />
    @Html.ValidationMessageFor(model => model.Credit, "", new { @class = "text-danger" })
    <input type="text" name="CGPA" class="form-control" placeholder="CGPA" />
    @Html.ValidationMessageFor(model => model.CGPA, "", new { @class = "text-danger" })
    <input type="text" name="Dept" class="form-control" placeholder="Dept" />
    @Html.ValidationMessageFor(model => model.Dept, "", new { @class = "text-danger" })
    <input type="submit" class="btn btn-block" value="Add" />
</form>


